//font-size
$xxl: 64px;
$xl: 48px;
$ll: 42px;
$l: 36px;
$lm: 32px;
$m: 24px;
$s: 20px;
$xs: 16px;
$xxs: 14px;

//background-color
$color-background-black: #000000;
$color-background-white: #ffffff;
$color-background-pink: #fbf2f2;
$color-background-gray: #f2f2f2;
$color-background-brown: #5f3e2d;
$color-background-darkred: #650300;
$color-background-primary: #aa0601;
$color-background-orange: #b75929;

//text-color
$color-text-black: #000000;
$color-text-gray: #707070;
$color-text-white: #ffffff;
$color-text-hover-lighter: #dee2e6;
$color-text-darkred: #650300;
$color-text-primary: #aa0601;

//border-color
$color-border-black: #000000;
$color-border-gray: #555555;
$color-border-light-gray: #DCDCDC;

$color-border-white: #ffffff;
$color-border-lighter: #dee2e6;
$color-border-primary: #aa0601;

//shadow-color
$color-box-shadow: #00000029;
