<footer class="footer">
  <div class="container">
    <div class="footer-menu">
      <ul class="show">
        <li><a href="#">首頁</a></li>
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
      <div class="contact-icon">
        <a href="#"
          ><img src="/assets/images/ic-social-fb.png" alt="fb icon"
        /></a>
        <a href="#"
          ><img src="/assets/images/ic_social_ig.png" alt="ig icon"
        /></a>
        <a href="#"
          ><img src="/assets/images/ic_social_line.png" alt="line icon"
        /></a>
      </div>
    </div>
    <div class="info-block">
      <div class="click-block">
        <span class="material-icons-outlined phone"> call </span>
        <h3><a href="tel:0800000000">0800-000-000</a></h3>
      </div>
      <div class="click-block">
        <span class="material-icons-outlined email"> email </span>
        <h3><a href="mailto:glasses@business.com">glasses@business.com</a></h3>
      </div>
      <div class="line"></div>
    </div>
    <div class="copyright">
      <h6>Copyright © 2020 Glasses.All rights reserved.</h6>
      <div>
        <h6>隱私權政策</h6>
        <h6>服務條款</h6>
      </div>
    </div>
  </div>
</footer>
