<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-s1">
      <div class="container">
        <div class="banner-block">
          <h3>Promise-Desert 2020 早春系列</h3>
          <h1>看得清，才能看得遠</h1>
          <a href="#">立即購買</a>
        </div>
      </div>
    </div>

    <div class="bg-s2">
      <div class="container">
        <div class="p80-0">
          <h2>用專業的心，做專業的事</h2>
          <div class="icon-block">
            <div>
              <img src="/assets/images/home-section2-1.png" alt="錢字icon" />
              <h4>單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div>
              <img src="/assets/images/home-section2-2.png" alt="時鐘icon" />
              <h4>20 分鐘即可取件</h4>
              <p>
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </div>
            <div>
              <img src="/assets/images/home-section2-3.png" alt="愛心icon" />
              <h4>安心售後服務</h4>
              <p>
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </div>
            <div>
              <img src="/assets/images/home-section2-4.png" alt="鏡片icon" />
              <h4>關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="s3-block p80-0">
        <h2>經典系列鏡框</h2>
        <div class="glasses-frames-block">
          <div>
            <img src="/assets/images/home-section3-1.png" alt="鏡框展示圖" />
            <h2 class="title">OPTICAL</h2>
          </div>
          <div>
            <img src="/assets/images/home-section3-2.png" alt="鏡框展示圖" />
            <h2 class="title">SUNGLASSES</h2>
          </div>
          <div>
            <img src="/assets/images/home-section3-3.png" alt="鏡框展示圖" />
            <h2 class="title">FUNCTIONAL</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-s4">
      <div class="container">
        <div class="p80-0">
          <h2 class="s4-title">聯名設計鏡框</h2>
          <div class="joint-name-block">
            <div class="info-block">
              <img class="show" src="/assets/images/home-section4-1.png" alt="聯名鏡框圖" />
              <img class="hide" src="/assets/images/home-section4-1-sm.png" alt="聯名鏡框圖" />
              <h2 class="sub-title">DOUBLE A+</h2>
            </div>
            <div class="info-block">
              <img class="show" src="/assets/images/home-section4-2.png" alt="聯名鏡框圖" />
              <img class="hide" src="/assets/images/home-section4-2-sm.png" alt="聯名鏡框圖" />
              <h2 class="sub-title">YOUTH</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="s5-block p80-0">
        <h2>顧客推薦</h2>
        <div class="recommend-block">
          <div class="info-block">
            <img src="/assets/images/home-section5-1.png" alt="顧客分享圖" />
            <div class="text-block">
              <div>
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <h6>2021/06/20</h6>
            </div>
          </div>
          <div class="info-block">
            <img src="/assets/images/home-section5-2.png" alt="顧客分享圖" />
            <div class="text-block">
              <div>
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <h6>2021/04/18</h6>
            </div>
          </div>
          <div class="info-block">
            <img src="/assets/images/home-section5-3.png" alt="顧客分享圖" />
            <div class="text-block">
              <div>
                <p>悠悠</p>
                <p>
                  謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                </p>
              </div>
              <h6>2020/12/25</h6>
            </div>
          </div>
          <div class="info-block">
            <img src="/assets/images/home-section5-4.png" alt="顧客分享圖" />
            <div class="text-block">
              <div>
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <h6>2020/10/31</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-block">
      <div class="container p80-0">
        <div class="form-block">
          <h2>聯絡我們</h2>
          <div class="form">
            <h5>
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </h5>
            <label for="fname">姓名</label><br />
            <input
              class="form-input"
              type="text"
              name="fname"
              placeholder="陳小明"
            /><br />
            <label for="fphone">聯絡電話</label><br />
            <input
              class="form-input"
              type="number"
              name="fphone"
              placeholder="0912-345-678"
            /><br />
            <label for="femail">電子郵件</label><br />
            <input
              class="form-input"
              type="email"
              name="femail"
              placeholder="example@email.com"
            /><br />
            <label for="fmessage">意見反應</label><br />
            <textarea
              class="form-input"
              name="fmessage"
              rows=""
              cols="100"
              placeholder="請輸入您的意見"
            ></textarea
            ><br />
            <label class="agree-checkbox">
              <input
                type="checkbox"
              />我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
              <span class="checkmark"></span>
            </label>
            <input class="submit" type="submit" value="確認送出" />
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
